.form {
  margin: 0 auto;
  width: 90%;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin: 2rem auto;
}

.controls {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.control {
  flex: 1;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.control label {
  font-weight: bold;
}

.form button {
  width: 100px;
  font: inherit;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--light-color);
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.list {
  width: 90%;
  margin: 0 auto;
}
