.item {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 12px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--light-color);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item img {
  width: 100%;
  object-fit: cover;
  height: 10rem;
}

.content {
  width: 100%;
  padding: 0 1rem;
  text-align: center;
  margin: auto;
}

.content h2 {
  margin: 0.5rem 0;
}

.content label {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin: 0.5rem 0;
  color: var(--dark-color);
  font-weight: bold;
}

@media (min-width: 768px) {
  .item {
    flex-direction: row;
  }

  .item img {
    width: 40%;
    height: 14rem;
  }

  .content {
    width: 60%;
    padding: 0;
    text-align: left;
  }

  .content h2 {
    margin: 1rem 0;
  }
}
